$dark: #0D0D0D;
$light: #888888;
$bg1: #333333;
$bg2: $dark;
$fg1: contrast-color($bg1, $dark, $light);
$fg2: contrast-color($bg1, $dark, $light);
$border: mix($bg1, $bg2);
$line: $fg2;
$shadow: black;
$select: #B9ED52;  // change me!
$select-text: contrast-color($select, $dark, $light);
$select-inactive: mix($select, $bg2, 80%);
$focus: $line;
