$dark: black;
$light: white;
$bg1: #FDFDFD;
$bg2: $dark;
$fg1: contrast-color($bg1, $dark, $light);
$fg2: contrast-color($bg2, $dark, $light);
$border: desaturate(mix($bg1, $fg1, 30%), 90%);
$line: desaturate(mix($bg2, $fg2, 30%), 90%);
$shadow: $dark;
$select: #595959;
$select-text: contrast-color($select, $dark, $light);
$select-inactive: mix($select, $bg2, 80%);
$focus: #006FA5;

.topbar {
    background: linear-gradient(to top, #E1E6F5, #D3DAED 60%, $bg1);
    color: $light;
}
.playback-buttons button {
    text-shadow: 1px 0 $dark,-1px 0 $dark,0 1px $dark,0 -1px $dark;
}
.volume,
.seeker {
    background: $bg1 !important;
}
