$dark: #333;
$light: white;
$bg1: hsl(270, 90%, 61%);  // change me!
$bg2: $light;
$fg1: contrast($bg1, $dark, $light);
$fg2: contrast($bg2, $dark, $light);
$border: desaturate(mix($bg1, $fg1, 30%), 90%);
$line: desaturate(mix($bg2, $fg2, 30%), 90%);
$shadow: $dark;
$select: $bg1;
$select-text: contrast($select, $dark, $light);
$select-inactive: mix($select, $bg2, 80%);
$focus: $line;

.art,
.statusbar,
.topbar,
.file-browser {
    border: 0 !important;
}
.filetree {
    background: #f5f5f5 !important;
}
.topbar {
    box-shadow: 0 0 3px 1px $shadow;
}
.file-browser {
    // HACK: I cannot manage to get topbar and statusbar above this,
    // so instead I avoid top/bottom shadows.
    box-shadow: 3px 0 3px (1px - 3px) $shadow;
}
.separator {
    border: 0 !important;
}
