* {
  box-sizing: border-box;
  -webkit-user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  color: inherit;
}
*:focus {
  outline: #006FA5 auto 5px;
}
*[data-onclick][tabindex="-1"] {
  cursor: default;
}
.topbar,
.statusbar,
.file-browser,
.playlist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.topbar {
  bottom: auto;
  height: 1.8em;
  background: linear-gradient(to top, #E1E6F5, #D3DAED 60%, #FDFDFE);
}
.file-browser,
.playlist {
  top: 1.8em;
  bottom: 1.5em;
}
.file-browser {
  right: auto;
  width: 27%;
}
.playlist {
  left: auto;
  width: 73%;
  overflow: auto;
}
.statusbar {
  top: auto;
  height: 1.5em;
}
html {
  color: black;
  background: #FDFDFD;
  font-size: 14px;
}
.playlist {
  color: white;
  background: black;
}
.statusbar {
  border-top: 1px solid #878B93;
}
.top {
  border-bottom: 1px solid #878B93;
}
.file-browser {
  border-right: 1px solid #878B93;
}
.playback-buttons,
.volume,
.seeker {
  display: inline-block;
}
.volume,
.seeker {
  height: 0.6em;
  width: 100%;
  background: #FDFDFD;
  box-shadow: 1px 1px 2px black inset;
  position: relative;
  top: -0.1em;
}
.volume {
  width: 5em;
}
.playback-buttons a {
  display: inline-block;
  color: white;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
  width: 1.5em;
  padding: 0.2em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2px;
}
.playback-buttons a:focus,
.playback-buttons a:hover {
  border-color: #878B93;
}
.file-browser {
  display: flex;
  flex-direction: column;
}
.file-browser input {
  width: 96%;
  background: black;
  color: white;
  line-height: 2;
  margin: 2%;
}
.file-browser ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}
.file-browser ul .expander {
  position: absolute;
  left: -0.7em;
  vertical-align: middle;
  text-align: center;
  height: 11px;
  width: 11px;
  font-size: 9px;
  line-height: 9px;
  border: 1px dotted #E0E0E0;
  background: black;
}
.file-browser ul li {
  margin-left: 0.5em;
  border-left: 1px dotted #E0E0E0;
  padding-left: 0.9em;
  position: relative;
}
.file-browser ul li::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0.5em;
  width: 0.7em;
  border-color: #E0E0E0;
  border-style: dotted;
  border-width: 0;
  border-bottom-width: 1px;
}
.file-browser ul li:last-child {
  border-left-color: transparent;
}
.file-browser ul li:last-child::before {
  border-left-width: 1px;
  left: -1px;
}
.file-browser > ul {
  flex: auto;
  overflow: auto;
  font-size: 12px;
  background: black;
  color: white;
  white-space: nowrap;
  padding: 0.5em;
}
.file-browser .art {
  background-repeat: no-repeat;
  background-color: black;
  background-position: 50%;
  background-size: contain;
  min-height: 10em;
}
.spectrum {
  height: 1.4em;
  width: 8em;
  background: black;
}
.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5em;
}
.topbar .separator {
  display: inline-block;
  height: 1.8em;
  margin: 0 0.5em;
  border-left: 1px solid #878B93;
  border-right: 1px solid #FDFDFE;
}
.topbar > *:last-child {
  flex: auto;
}
.file-browser a {
  padding: 1px;
}
.file-browser a:focus {
  background: #595959;
  outline: none;
}
.listview {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.listview .listitem {
  float: left;
  width: 100%;
  position: relative;
  clear: both;
  line-height: 1.5;
}
.listview .listitem:nth-child(even) {
  background: #0a0a0a;
}
.listview .playlist-item-playing,
.listview .playlist-item-title,
.listview .playlist-item-artist,
.listview .playlist-item-duration {
  position: relative;
  float: left;
  left: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listview .playlist-item-playing {
  width: 5%;
  margin-left: -99%;
}
.listview .playlist-item-title {
  width: 46%;
  margin-left: -93%;
}
.listview .playlist-item-artist {
  width: 36%;
  margin-left: -46%;
}
.listview .playlist-item-duration {
  width: 8%;
  margin-left: -9%;
  text-align: right;
}
.listitem.is-selected.is-selected {
  background: #595959;
}
.listitem.drop-above {
  border-top: 2px solid #006FA5;
}
.listitem.drop-below {
  border-bottom: 2px solid #006FA5;
}
*[tabindex="0"] .listitem.is-selected.is-selected {
  background: #2A2A2A;
}
