* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  color: inherit;
}
.topbar,
.statusbar,
.file-browser,
.playlist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.topbar {
  bottom: auto;
  height: 1.5em;
}
.file-browser,
.playlist {
  top: 1.5em;
  bottom: 1.5em;
  overflow: auto;
}
.file-browser {
  right: auto;
  width: 20%;
}
.playlist {
  left: auto;
  width: 80%;
}
.statusbar {
  top: auto;
  height: 1.5em;
}
html {
  color: black;
  background: darkgrey;
}
.file-browser,
.playlist {
  color: white;
  background: black;
}
.statusbar,
.top {
  color: black;
  background: lightgrey;
}
.statusbar {
  border-top: 1px solid blue;
}
.top {
  border-bottom: 1px solid blue;
}
.file-browser {
  border-right: 1px solid blue;
}
.playback-buttons,
.volume,
.seeker {
  display: inline-block;
}
.volume,
.seeker {
  height: 0.6em;
  width: 20em;
  background: lightgrey;
  box-shadow: 1px 1px 2px black inset;
}
.volume {
  width: 5em;
}
.playback-buttons a {
  display: inline-block;
  color: white;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
  width: 1.5em;
  padding: 0.2em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2px;
}
.playback-buttons a:focus,
.playback-buttons a:hover {
  border-color: blue;
}
.file-browser ul {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
.file-browser ul ul {
  border-left: 1px dotted white;
  padding-left: 0.5em;
  margin-left: 0.5em;
}
.file-browser ul .expander {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 11px;
  width: 11px;
  font-size: 9px;
  line-height: 9px;
  border: 1px dotted white;
  margin-left: 3px;
}
