@import "math";

@function srgb($channel) {
    $x: $channel / 255;
    @if $x <= 0.03928 {
        @return $x / 12.92;
    } @else {
        @return pow(($x + 0.055) / 1.055, 2.4);
    }
}

/* Relative luminance according to WCAG20 */
@function luminance($color) {
    $r: srgb(red($color));
    $g: srgb(green($color));
    $b: srgb(blue($color));
    @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
}

@function contrast($base, $dark, $light) {
    $ldark: luminance($dark);
    $llight: luminance($light);

    $min: 0.05;
    $threshold: sqrt(($ldark + $min) * ($llight + $min)) - $min;

    @if luminance($base) > $threshold {
        @return $dark;
    } @else {
        @return $light;
    }
}
