<div class="topbar">
    <muu type="buttons"></muu>
    <span class="separator"></span>
    <muu type="volume"></muu>
    <span class="separator"></span>
    <muu type="spectrum"></muu>
    <span class="separator"></span>
    <muu type="seeker"></muu>
</div>

<div class="file-browser">
    <div class="search-wrapper">
        <input type="search" name="q" data-onsearch="filter" data-onkeyup="filter" />
    </div>
    {{#items}}
    <ul
        class="filetree"
        {{^hasFocus}}tabindex="0"{{/hasFocus}}
        data-onclick="click"
        data-onfocusin="focusin"
        data-onfocusout="focusout"
    >
        {{> filetree}}
    </ul>
    {{/items}}
    {{#art}}
    <div class="art" style="background-image: url('/file{{art}}')"></div>
    {{/art}}
</div>

<muu type="playlist"></muu>
<muu type="statusbar"></muu>
